* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.firstSection {
    z-index: -2;
    position: relative;
    min-height: 400px;
    box-sizing: border-box;
    background: url(./image/header2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.3);
    z-index: -1;
}

.cqnu {
    float: left;
    width: 600px;
    height: 80px;
    background: url(./image/cqnu.png) no-repeat;
    background-size: 60px;
    background-position: 0 10px;
}

.cqnu p {
    font-size: 24px;
    font-weight: 600px;
    color: #ffffff;
    line-height: 80px;
    margin-left: 70px;
}

.nav,
.firstNav {
    height: 80px;
    padding: 0 30px;
    text-decoration: none;
    color: #ffffff;
    line-height: 80px;
    text-align: center;
    font-size: 22px
}

.Nav {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    color: #dc3838;
}

.Nav a {
    display: block;
    float: right;
}

.Nav a:hover {
    font-weight: 700;
    animation-name: up;
    animation-duration: 0.5s;
    animation-duration: alternate;
    cursor: pointer;
}

@keyframes up {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(0, -10px);
    }
}

.right {
    float: left;
    position: relative;
    width: 550px;
    height: 500px;
    margin-top: 50px;
}

.notice {
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.red {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    height: 40px;
    width: 10px;
}

.tongZhi {
    float: left;
    font-size: 25PX;
    font-weight: 700;
    line-height: 50PX;
}

.more {
    float: right;
    line-height: 50px;
    font-size: 14px;
    color: #7f8180;
}

.four li a {
    display: block;
    margin: 0 15px;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    text-decoration: none;
    line-height: 30px;
    color: #000;
    text-align: center;
    border: #ededed solid 1px;
}

.four .one {
    width: 70px;
    background-color: #dd3030;
    color: #ffffff;
}

.four {
    display: flex;
    justify-content: center;
    width: 545px;
    margin: 10px 0;
    font-size: 18px;
}

.four::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

.four.one {
    width: 60px;
}

.date {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-bottom: solid 1px #333;
    padding-bottom: 40px;
}

.date em {
    float: left;
    position: relative;
    left: 10px;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    color: #dd3030;
}

.date span {
    float: left;
    position: relative;
    top: -7px;
    left: 7px;
    font-weight: 700;
    font-size: 20px;
}

.day {
    width: 80px;
    height: 100px;
}

.arrow {
    display: block;
    width: 60px;
    height: 15px;
    position: relative;
    top: -80px;
    left: 100px;
    background-color: #dd3030;
}

.arrow2 {
    float: left;
    position: relative;
    top: 3px;
    left: 18px;
    width: 60px;
    height: 15px;
    background-color: #dd3030;
}

.date p {
    position: relative;
    top: -100px;
    left: 173px;
    text-decoration: none;
    color: #000;
}

p.two {
    position: relative;
    top: -80px;
    left: 100px;
    text-decoration: none;
    color: #686565;
}

.text {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.text a {
    display: block;
    width: 100%;
    height: 45px;
    border-color: #84c9b4;
}

.month-date {
    float: left;
    width: 70px;
    margin-left: 10px;
    border-right: 1px solid #706c6c;
    color: #000;
}

.news {
    float: left;
    position: relative;
    left: 30px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.news:hover {
    color: #dd3030;
}

.left {
    float: right;
    position: relative;
    width: 700px;
    height: 450px;
    margin-top: 85px;
    background: url(./image/m1.jpg);
    background-size: cover;
}

.bottom {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    bottom: 0;
    padding: 10px 25px;
    background-color: rgba(1, 1, 1, 0.7);
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.button {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 40px;
    background-color: rgba(1, 1, 1, 0.7);
    color: #ffffff;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.left .left {
    background-color: rgba(1, 1, 1, 0.7);
    left: 0;
}

.left .right {
    right: 0;
}

.red-img {
    float: left;
    width: 100%;
    height: 400px;
    margin: 50px 0;
    background: url("./image/h6.png");
    background-size: cover;
    background-position: center;
}

.red-img img {
    position: relative;
    top: 170px;
    width: 110px;
    float: left;
    padding: 0 60px;
}

.purple {
    float: left;
    width: 1250px;
    height: 555px;
    background-color: #9b35d6;
}

.keCheng {
    font-size: 25px;
    color: #333;
}

.Nav1 {
    display: flex;
}

.Nav1 a {
    text-decoration: none;
    display: block;
    margin-left: 28px;
    font-size: 18px;
    color: #333333
}

.all {
    color: red;
}

.content {
    width: 1250px;
    height: 400px;
}

.box,
.box1 {
    float: left;
    width: 240px;
    height: 170px;
    margin: 22px 20px 20px 10px;
    background-color: red;
}

.read {
    float: left;
    width: 1250px;
    height: 380px;
    margin-top: 50px;
    background-color: pink;
}

.yueDU {
    font-size: 25px;
    color: #333;
}

.book {
    width: 1250px;
    height: 250px;
    margin-top: 20px;
    background-color: green;
}

.teacher {
    float: left;
    width: 1250px;
    height: 450px;
    margin-top: 50px;
    background-color: blue;
}

.laoShi {
    font-size: 25px;
    color: #333;
}

.people {
    width: 1250px;
    height: 340px;
    margin-top: 20px;
    display: flex;
    background-color: orange;
}

.people a {
    text-decoration: none;
}

.people a:hover {}

.foot {
    float: left;
    width: 100%;
    height: 270px;
    margin-top: 40px;
    background-color: #484747;
}

.foot-font1 {
    position: relative;
    top: 70px;
    left: -30px;
}

.foot-font1 span {
    font-size: 20px;
    color: #ffffff;
    line-height: 40px;
    background-color: #484747;
}

.foot-font1 span:hover {
    cursor: text;
}

.foot-font2 {
    float: left;
    width: 100%;
    height: 40px;
    padding-top: 20px;
    background-color: #484747;
    border-top: 1px solid #696565;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}